.card {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;

  .project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .modal .development {
      display: none;
    }

    .img {
      transition: all 2.5s;
      position: absolute;
      top: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      width: 100%;
    }

    .modal {
      opacity: 0;
    }

    .span__btn {
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.05px;
      background-color: #a118f0;
      border-radius: 10px;
      padding: 5px 10px;
      position: absolute;
      top: 10px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      opacity: 0;
    }

    .modal__portfolio {
      display: none;
    }
  }

  .project-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .modal .development {
      display: none;
    }

    .img {
      transition: all 2.5s;
      position: absolute;
      top: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      width: 140%;
    }

    .modal {
      opacity: 0;
    }

    .span__btn {
      opacity: 0;
      color: #ffffff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.05px;
      background-color: #a118f0;
      border-radius: 10px;
      padding: 5px 10px;
      position: absolute;
      top: 10px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      opacity: 0;
    }

    .modal__portfolio {
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.527);
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      overflow: visible;

      .modal__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 10px;
        .tag__flex {
          width: 100%;
          padding: 20px 10px 0px 0px;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
          text-align: center;
          span {
            padding: 5px 8px;
            margin: 0px 3px;
            background: rgba(169, 60, 255, 0.64);
            color: #fff;
            border-radius: 100px;
          }
        }

        .text {
          color: #ffffff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.05px;
          width: 100%;
          
        }
      }

      .modal__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        height: 60px;
        bottom: 0px;
        left: 0px;
        width: 100%;

        .span__site {
          overflow: hidden;
          height: 60px;
          padding: 20px;
          background-color: #fff;
          border-radius: 0px 10px 0px 0px;
          font-family: Ubuntu;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .btn {
          background: transparent;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
          margin-bottom: 0;
          padding: 15px 10px;

          svg {
            margin-left: 8px;
          }
        }
      }

    }

  }

  .project-development {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .development {
      position: absolute;
      top: 210px;
      left: -160px;
      display: block;
      width: 700px;
      transform: rotate(45deg);
      padding: 12px 0px;
      height: 46px;
      font-size: 20px;
      text-align: center;
      background-color: #ff6b6b;
      z-index: 1;
      color: #ffffff;
    }

    .modal {
      opacity: 1;
      background-color: #00000050;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .modal__content {
      display: none
    }
    .modal__main {
      display: none;
    }
    .modal__btn {
      display: none;
      .span__site {
        display: none;
      }
    }
  }
}

.card:hover {
  .project {
    transition: all 0.4s;

    .img {
      position: absolute;
      width: 140%;
    }

    .modal {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.527);
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      overflow: visible;

      .modal__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.637);
        width: 180px;
        height: 120px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title__h6 {
          color: #fff;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.05px;
          padding-bottom: 10px;
        }

        .btn {
          color: #fff;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.05px;
          border-radius: 10px;
          border: 1px solid white;
          background-color: transparent;
          width: 140px;
          padding: 7px 10px;
          margin: 8px 0px;
        }

        .btn:hover {
          transition: all 0.3s;
          background-color: #a118f0;
        }
      }
    }
  }

  .project-portfolio {
    .img {
      position: absolute;
      width: 140%;
    }

    .modal__portfolio {
      opacity: 1;
    }

    .modal {
      display: none;
    }
    .modal__portfolio .modal__btn .btn svg {
      transition: all 0.3s ease;
      transform: rotate(0deg);
    }
  }
}

.card.active {
  .project {
    .img {
      position: absolute;
      width: 140%;
    }

    .span__btn {
      opacity: 0;
    }

    .modal {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.527);
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      overflow: visible;

      .modal__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.637);
        width: 200px;
        height: 180px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title__h6 {
          color: #fff;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.05px;
          padding-bottom: 15px;
        }

        .btn {
          color: #fff;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.05px;
          border-radius: 10px;
          border: 1px solid white;
          background-color: transparent;
          width: 140px;
          padding: 7px 10px;
          margin: 8px 0px;
        }

        .btn:hover {
          transition: all 0.3s;
          background-color: #a118f0;
        }
      }
    }
  }

  .project-portfolio {
    .img {
      position: absolute;
      width: 140%;
    }

    .modal__portfolio {
      opacity: 1;
    }

    .modal {
      display: none;
    }
    .modal__portfolio .modal__btn .btn svg {
      transition: all 0.3s ease;
      transform: rotate(30deg);
    }
  }
}

.card.active,
.card:hover {
  .span__btn {
    background-color: #a118f0;
  }

  .project {
    .img {
      width: 100%;
    }
  }
}

.card.active:nth-child(1),
.card:hover:nth-child(1) {
  .span__btn {
    background-color: #a118f0;
  }

  .project {
    .img {
      transition: all 6.5s;
      top: -2110px;
    }

    .modal {
      .btn:hover {
        transition: all 0.3s;
        background-color: #a118f0;
      }
    }


  }
}

.card:nth-child(2).active,
.card:nth-child(2):hover {
  .project {
    .img {
      transition: all 6.5s;
      top: -1340px;
    }

    .btn:hover {
      transition: all 0.3s;
      background-color: #f09a18;
    }

    .span__btn {
      background-color: #f09a18;
    }
  }
}

.card.active:nth-child(3),
.card:hover:nth-child(3) {
  .project {
    .img {
      transition: all 6.5s;
      top: -1150px;
    }

    .btn:hover {
      transition: all 0.3s;
      background-color: #18b3f0;
    }

    .span__btn {
      background-color: #18b3f0;
    }
  }
}

.card.active:nth-child(4),
.card:hover:nth-child(4) {
  .project {
    .img {
      transition: all 21.5s;
      top: -5880px;
    }

    .btn:hover {
      transition: all 0.3s;
      background-color: #186ef0;
    }

    .span__btn {
      background-color: #186ef0;
    }
  }
}

.swiper-slide:nth-child(1) {

  .card.active,
  .card:hover {
    .span__btn {
      background-color: #a118f0;
    }

    .project {
      .img {
        transition: all 6.5s;
        top: -2110px;
      }

      .modal {
        .btn:hover {
          transition: all 0.3s;
          background-color: #a118f0;
        }
      }


    }
  }
}

.swiper-slide:nth-child(2) {

  .card.active,
  .card:hover {
    .project {
      .img {
        transition: all 6.5s;
        top: -1340px;
      }

      .btn:hover {
        transition: all 0.3s;
        background-color: #f09a18;
      }

      .span__btn {
        background-color: #f09a18;
      }
    }
  }
}

.swiper-slide:nth-child(3) {

  .card.active,
  .card:hover {
    .project {
      .img {
        transition: all 6.5s;
        top: -1150px;
      }

      .btn:hover {
        transition: all 0.3s;
        background-color: #18b3f0;
      }

      .span__btn {
        background-color: #18b3f0;
      }
    }
  }
}

.swiper-slide:nth-child(4) {

  .card.active,
  .card:hover {
    .project {
      .img {
        transition: all 21.5s;
        top: -5880px;
      }

      .btn:hover {
        transition: all 0.3s;
        background-color: #186ef0;
      }

      .span__btn {
        background-color: #186ef0;
      }
    }
  }
}