@import "../../variable.scss";

.about__me {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 640px;
      height: 640px;
      border-radius: 20px;
    }
  }
  .about__me-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-family: Ubuntu;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $whiteCr;
      padding-bottom: 25px;
    }

    .text {
      width: 526px; 
      color: $whiteCr;
      font-family: Ubuntu;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%; 
      letter-spacing: 0.48px; 
    }
  }
}