.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;

      .logo__span {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        .span {
          padding-bottom: 5px;
        }

        span {
          color: #fff;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          letter-spacing: 3.92px;
        }
      }
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 540px;

      li {
        list-style-type: none;
        cursor: pointer;
        color: #fff;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 3.92px;
        text-transform: capitalize;
      }
    }
  }
}
