@import "../../variable.scss";

.footer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 120px;
  .title__h2 {
    padding-bottom: 55px;
  }

  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer__tt {
      color: $whiteCr;
      font-family: Lato;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      text-transform: uppercase;
    }

    .logo__tt {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 247px;

      .title__h5 {
        padding-bottom: 18px;
        color: $whiteCr;
        font-family: Lato;
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
  }

  .bottom__footer {
    padding-top: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .span {
      color: #FFF;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      /* 18.9px */
      letter-spacing: 0.42px;
    }

    .flex__mes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      padding: 10px 14px;
      background-color: #fff;
      border-radius: 20px;
    }
  }
}