@import "../../variable.scss";

.footer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 120px;

  .title__h2 {
    padding-bottom: 55px;
  }

  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer__tt {
      color: $whiteCr;
      font-family: Ubuntu;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      text-transform: uppercase;
      cursor: pointer;
    }

    .logo__tt {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 247px;

      .title__h5 {
        padding-bottom: 18px;
        color: $whiteCr;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
  }

  .bottom__footer {
    padding-top: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .span {
      color: #FFF;
      font-family: Ubuntu;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      /* 18.9px */
      letter-spacing: 0.42px;
    }

    .flex__mes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      padding: 10px 14px;
      background-color: #fff;
      border-radius: 20px;

      svg {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;

    .title__h2 {
      padding-bottom: 40px;
    }

    .footer__flex {
      display: grid;
      grid-template-areas:
        "a b"
        'c c';

      .phone {
        grid-area: a;
        font-size: 18px;
      }

      .main {
        grid-area: b;
      }

      .footer__tt {
        font-size: 18px;

      }

      .logo__tt {
        padding-top: 20px;
        grid-area: c;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .title__h5 {
          width: 240px;
        }
      }
    }

    .bottom__footer {
      padding-top: 40px;
    }
  }
}


@media screen and (max-width: 568px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;

    .title__h2 {
      font-size: 23px;
    }

    .footer__flex {
      .footer__tt {
        font-size: 14px;
      }

      .logo__tt {
        .title__h5 {
          width: 170px;
          padding-bottom: 0px;
        }
      }
    }

    .bottom__footer .flex__mes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      padding: 5px 6px;
      background-color: #fff;
      border-radius: 5px;
    }
  }

  .logo .logo__span {
    display: none;
  }
}