@import "./variable.scss";
@import './fonts/stylesheet.scss';

.title__h2 {
  font-family: Ubuntu;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: $whiteCr;
}

p, span, button {
  font-family: Ubuntu;

}
.title__h3 {
  color: $whiteCr;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  text-transform: uppercase;
}

.span {
  color: $whiteCr;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0.48px;
}